/* animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* body */
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right
  bottom, #08203e, #557c93);
  display: flex;
  justify-content: center;
  font-family: cursive;
}

/* utility code */
.btn {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #24b61c;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 12px;
  text-transform: capitalize;
  width: 60%;
  color: whitesmoke;
  margin: 20px auto 0;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #08780c;
}



.timer {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 3;
  border-radius: 50%;
  background-color: #08203e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 2px solid #f00;
  color: aliceblue;
  top: 30px;
  right: 30px;
  animation: pulse 1s ease-in-out infinite;
  display: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 10px 0 10px 30px;
  background-color: green;
  transition: all 0.5s ease-in;
  display: none;
}

.page-1 {
  background-color: hsla(193, 75%, 67%, 0.667);
  background: transparent;
  margin: auto;
  /* display: none; */
}

.page-1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-1 .logo .logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1 .logo .logo-img img {
  width: 200px;
}

.page-1 .logo .logo-text {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  font-weight: 800;
  font-family: cursive;
}

.page-1 .btn.start-btn {
  width: 15%;
  justify-content: center;
  padding: 20px;
}

.page-2 {
  margin: auto;
  display: none;
  transition: all 0.5s ease-in;
}

.page-2 .container {
  min-width: 850px;
  justify-content: center;
}

.page-2 .container h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: underline;
}

.page-2 .container h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
}

.page-2 .option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.5s ease forwards;
}

.page-2 .option-container .choice {
  width: 50%;
  padding: 5px;
  padding-left: 20px;
  font-weight: 390;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  animation: fade-in 0.5s ease forwards;
  background-color: white;
}

.page-2 .option-container .choice:hover {
  background-color: #ddd;
}

.page-2 .option-container .choice.selected {
  background-color: #007bff;
  color: whitesmoke;
}

.page-2 .btn.nextBtn {
  width: 50%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.page-3 {
  margin: auto;
  display: none;
}
.page-3 .container {
  min-width: 850px;
  justify-content: center;
}
.page-3 .container .trophy {
  display: flex;
  justify-content: center;
  animation: fade-in 0.5s ease forwards;
}
.page-3 .container .trophy img{
  width: 200px;
    filter: drop-shadow(5px 5px 5px #222);
    animation: fade-in 0.5s ease forwards;
}
.page-3 .container .trophy img {
  width: 200px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.page-3 .container h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: underline;
}
.page-3 .container .btn {
  display: flex;
  justify-content: center;
}
.page-3 .container h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
}

@media screen and (max-width: 900px) {
  .body {
    flex-direction: column;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .btn {
    width: 80%;
    font-size: 1.2rem;
    padding: 8px 10px;
  }

  .timer {
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    top: 20px;
    right: 20px;
  }

  .alert {
    font-size: 1.1rem;
    padding: 8px 0 8px 20px;
  }

  .page-1 .logo .logo-text {
    font-size: 2.3rem;
  }

  .page-1 .btn.start-btn {
    width: 40%;
    padding: 14px;
  }

  .page-2 .container {
    min-width: 100%;
  }

  .page-2 .container h2 {
    font-size: 28px;
  }

  .page-2 .container h3 {
    font-size: 24px;
  }

  .page-2 .option-container .choice {
    width: 80%;
    font-size: 18px;
  }

  .page-2 .btn.nextBtn {
    width: 80%;
    font-size: 1.1rem;
  }

  .page-3 .container {
    min-width: 100%;
  }

  .page-3 .container .trophy img {
    width: 145px;
  }

  .page-3 .container h2 {
    font-size: 28px;
  }

  .page-3 .container h3 {
    font-size: 24px;
  }
}
